.banner-contato{
    font-family: var(--fonte-principal);
    margin: 0 20px 0 20px;
}

.formulario{
    
}

.cadastro{
    margin-top: 10px;
}

.input{
    margin-bottom: 10px;
}

.label{
    margin-top: 10px;
}

.input-nome, .input-telefone, .input-email{
    margin-top: 5px;
}

.opcao-especialidades{
    
}

.opcao-horario{
    
}

@media (min-width:1024px) {
    .banner-contato{
        padding-left: 200px;
    }